<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16F73</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AppleScript Toolbox</string>
	<key>CFBundleIdentifier</key>
	<string>com.tekstwerk.mac.AppleScript-Toolbox</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleScript Toolbox</string>
	<key>CFBundlePackageType</key>
	<string>OSAX</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.8</string>
	<key>CFBundleSignature</key>
	<string>ascr</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.0.8</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8E3004b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16E185</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0833</string>
	<key>DTXcodeBuild</key>
	<string>8E3004b</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Bastiaan Boertien &amp; NIgel Garvey. All rights reserved.</string>
	<key>OSAScriptingDefinition</key>
	<string>AppleScript Toolbox</string>
	<key>OSAXHandlers</key>
	<dict>
		<key>DescCoercions</key>
		<dict/>
		<key>Events</key>
		<dict>
			<key>AST64dec</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTBase64Decode</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>AST64enc</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTBase64Encode</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>ASTURLde</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTURLDecode</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>ASTURLen</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTURLEncode</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>ASTappfi</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTAppForFile</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>ASTclick</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTClickMouseAtLocation</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>ASTcplst</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTCopyList</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>ASTcpstr</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTCopyString</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>ASTdatfm</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTDateFormat</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>ASTfmdat</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTDateWithFormat</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>ASTfndln</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTGuessLanguage</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>ASTgetlo</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTMouseLocation</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>ASTlevdi</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTLevDistance</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>ASTlsmtd</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTQueryMetadata</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>ASTlstdr</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTListDirectory</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>ASTlstmd</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTListMetadata</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>ASTlstmp</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTListVolumes</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>ASTmovlo</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTMoveMouseToLocation</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>ASTprocs</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTListBSDProcesses</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>ASTrefnd</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTFindRegex</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>ASTversi</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTVersion</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>ASTw4evt</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEVTWaitForEvent</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
