<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>10K549</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Files</string>
	<key>CFBundleGetInfoString</key>
	<string>Files 3.0 (build 17)Copyright 2016 Satimage-softwarewww.satimage.fr/software</string>
	<key>CFBundleIdentifier</key>
	<string>com.satimage.Files</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>osax</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>CFBundleSignature</key>
	<string>ascr</string>
	<key>CFBundleVersion</key>
	<string>17</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>10M2518</string>
	<key>DTPlatformVersion</key>
	<string>PG</string>
	<key>DTSDKBuild</key>
	<string>10M2518</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>10M2518</string>
	<key>OSAScriptingDefinition</key>
	<string>Files.sdef</string>
	<key>OSAXHandlers</key>
	<dict>
		<key>Events</key>
		<dict>
			<key>QuomCopy</key>
			<dict>
				<key>Handler</key>
				<string>CopyFileHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>QuomGFNa</key>
			<dict>
				<key>Handler</key>
				<string>FileNameHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>QuomIsSy</key>
			<dict>
				<key>Handler</key>
				<string>IsSymlinkHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>QuomMkDi</key>
			<dict>
				<key>Handler</key>
				<string>NewFolderHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>QuomMove</key>
			<dict>
				<key>Handler</key>
				<string>MoveFileHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>QuomNewF</key>
			<dict>
				<key>Handler</key>
				<string>NewFileHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>QuomRemo</key>
			<dict>
				<key>Handler</key>
				<string>RemoveFileHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>QuomRenF</key>
			<dict>
				<key>Handler</key>
				<string>RenameFileHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>QuomSymL</key>
			<dict>
				<key>Handler</key>
				<string>SymlinkHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>Quomchmd</key>
			<dict>
				<key>Handler</key>
				<string>chmodHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>Quommkdt</key>
			<dict>
				<key>Handler</key>
				<string>mkdtempHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>Quommkst</key>
			<dict>
				<key>Handler</key>
				<string>mkstempHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>Quomrdsy</key>
			<dict>
				<key>Handler</key>
				<string>ReadSymlinkHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
