<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>10K549</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Numerics</string>
	<key>CFBundleGetInfoString</key>
	<string>Numerics 3.7.0 (build 131)Copyright 2015 Satimage-softwarewww.satimage.fr/software</string>
	<key>CFBundleIdentifier</key>
	<string>com.satimage.companion.numerics</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>osax</string>
	<key>CFBundleShortVersionString</key>
	<string>3.7.0</string>
	<key>CFBundleSignature</key>
	<string>ascr</string>
	<key>CFBundleVersion</key>
	<string>131</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>10M2518</string>
	<key>DTPlatformVersion</key>
	<string>PG</string>
	<key>DTSDKBuild</key>
	<string>10M2518</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>10M2518</string>
	<key>OSAScriptingDefinition</key>
	<string>Numerics.sdef</string>
	<key>OSAXHandlers</key>
	<dict>
		<key>Events</key>
		<dict>
			<key>CONVCnv1</key>
			<dict>
				<key>Handler</key>
				<string>ConvolveHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>CONVconv</key>
			<dict>
				<key>Handler</key>
				<string>ScriptHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>CONVcorr</key>
			<dict>
				<key>Handler</key>
				<string>ScriptHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>IMAGIGSa</key>
			<dict>
				<key>Handler</key>
				<string>SaveMatrixAsImageHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>LAPADETE</key>
			<dict>
				<key>Handler</key>
				<string>DetHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>LAPADeLU</key>
			<dict>
				<key>Handler</key>
				<string>LUHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>LAPAEIGE</key>
			<dict>
				<key>Handler</key>
				<string>EigenHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>LAPAPivo</key>
			<dict>
				<key>Handler</key>
				<string>PivotHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>LAPASOLV</key>
			<dict>
				<key>Handler</key>
				<string>SolveHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>MATHINTR</key>
			<dict>
				<key>Handler</key>
				<string>myInterpoleHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>MATHMaIn</key>
			<dict>
				<key>Handler</key>
				<string>InvertHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>MATHMaPr</key>
			<dict>
				<key>Handler</key>
				<string>MultMatHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>SATICPar</key>
			<dict>
				<key>Handler</key>
				<string>CountParticles</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>SATIEndi</key>
			<dict>
				<key>Handler</key>
				<string>IsBigEndian</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>SATIImBd</key>
			<dict>
				<key>Handler</key>
				<string>ImageBoundsHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>SATIImCn</key>
			<dict>
				<key>Handler</key>
				<string>ConvertImageHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>SATITrMa</key>
			<dict>
				<key>Handler</key>
				<string>TransposeMatrixHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>VI3DRPtr</key>
			<dict>
				<key>Handler</key>
				<string>RetainHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>VI3Dclos</key>
			<dict>
				<key>Handler</key>
				<string>ISOCloseHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>VI3Dextr</key>
			<dict>
				<key>Handler</key>
				<string>ExtractHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>VI3DgPtr</key>
			<dict>
				<key>Handler</key>
				<string>PrivateHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>VI3Dgetd</key>
			<dict>
				<key>Handler</key>
				<string>GetHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>VI3Dinfo</key>
			<dict>
				<key>Handler</key>
				<string>InfoHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>VI3Dinte</key>
			<dict>
				<key>Handler</key>
				<string>IntegrateHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>VI3Dlstn</key>
			<dict>
				<key>Handler</key>
				<string>ListHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>VI3DnPtr</key>
			<dict>
				<key>Handler</key>
				<string>ISONewHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>VI3Dodoc</key>
			<dict>
				<key>Handler</key>
				<string>ISOOpenHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>VI3Drena</key>
			<dict>
				<key>Handler</key>
				<string>RenameHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>VI3Dsurf</key>
			<dict>
				<key>Handler</key>
				<string>ISOSurfaceHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>XPLAFFT1</key>
			<dict>
				<key>Handler</key>
				<string>FFT1dHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>XPLAFFT2</key>
			<dict>
				<key>Handler</key>
				<string>FFT2dHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
