<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>10K549</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Satimage</string>
	<key>CFBundleGetInfoString</key>
	<string>Satimage 3.7.0 (build 411)Copyright 2016 Satimage-softwarewww.satimage.fr/software</string>
	<key>CFBundleIdentifier</key>
	<string>com.satimage.companion.satimage</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Satimage</string>
	<key>CFBundlePackageType</key>
	<string>osax</string>
	<key>CFBundleShortVersionString</key>
	<string>3.7.0</string>
	<key>CFBundleSignature</key>
	<string>ascr</string>
	<key>CFBundleVersion</key>
	<string>411</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>10M2518</string>
	<key>DTPlatformVersion</key>
	<string>PG</string>
	<key>DTSDKBuild</key>
	<string>10M2518</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>10M2518</string>
	<key>OSAScriptingDefinition</key>
	<string>Satimage.sdef</string>
	<key>OSAXHandlers</key>
	<dict>
		<key>DescCoercions</key>
		<dict>
			<key>LidoLiDo</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_Lido_any</string>
			</dict>
			<key>LidoLiIn</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_Lido_any</string>
			</dict>
			<key>LidoPoly</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_Lido_Poly</string>
			</dict>
			<key>LidoTEXT</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_Lido_any</string>
			</dict>
			<key>MatrLido</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_any_Lido</string>
			</dict>
			<key>MatrTEXT</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_Matr_utf8</string>
			</dict>
			<key>PolyLiDo</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_Poly_LiDo</string>
			</dict>
			<key>PolyLido</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_Lido_Poly</string>
			</dict>
			<key>PolyTEXT</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_Poly_utf8</string>
			</dict>
			<key>TEXTLiIn</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_any_LiIn</string>
			</dict>
			<key>compLiIn</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_any_LiIn</string>
			</dict>
			<key>compLido</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_any_Lido</string>
			</dict>
			<key>doubLiIn</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_any_LiIn</string>
			</dict>
			<key>doubLido</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_any_Lido</string>
			</dict>
			<key>listLiDo</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_list_LiDo</string>
			</dict>
			<key>listLiIn</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_list_LiDo</string>
			</dict>
			<key>listLido</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_any_Lido</string>
			</dict>
			<key>listMatr</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_any_Matr</string>
			</dict>
			<key>listPoly</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_list_Poly</string>
			</dict>
			<key>longLiIn</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_any_LiIn</string>
			</dict>
			<key>longLido</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_any_Lido</string>
			</dict>
			<key>recoLido</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_any_Lido</string>
			</dict>
			<key>recoMatr</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_any_Matr</string>
			</dict>
			<key>recoTEXT</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_Matr_utf8</string>
			</dict>
			<key>singLiIn</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_any_LiIn</string>
			</dict>
			<key>singLido</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_any_Lido</string>
			</dict>
			<key>utf8Lido</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_utf8_Lido</string>
			</dict>
			<key>utf8Matr</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_utf8_Matr</string>
			</dict>
			<key>utxtLido</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_utf8_Lido</string>
			</dict>
			<key>utxtMatr</key>
			<dict>
				<key>Handler</key>
				<string>Coerce_utf8_Matr</string>
			</dict>
		</dict>
		<key>Events</key>
		<dict>
			<key>MATHABS </key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHACOH</key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHACOS</key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHASIH</key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHASIN</key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHATA2</key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHATAH</key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHATAN</key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHCEIL</key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHCOSH</key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHCOSI</key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHERF </key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHERFC</key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHEXP </key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHFLOO</key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHGAMM</key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHHYPO</key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHLGAM</key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHLN  </key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHLOG </key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHSINE</key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHSINH</key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHSQR </key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHSQRT</key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHTANG</key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHTANH</key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>MATHTRUN</key>
			<dict>
				<key>Handler</key>
				<string>MathFuncHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>RESORGET</key>
			<dict>
				<key>Handler</key>
				<string>ResourceHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>RESORGNA</key>
			<dict>
				<key>Handler</key>
				<string>ResourceHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>RESORLST</key>
			<dict>
				<key>Handler</key>
				<string>ResourceHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>RESORPUT</key>
			<dict>
				<key>Handler</key>
				<string>ResourceHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIALIS</key>
			<dict>
				<key>Handler</key>
				<string>AliasInfoHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIATOF</key>
			<dict>
				<key>Handler</key>
				<string>AtofHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIATOI</key>
			<dict>
				<key>Handler</key>
				<string>AtoiHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIAdd%</key>
			<dict>
				<key>Handler</key>
				<string>LoopStringHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIBLUR</key>
			<dict>
				<key>Handler</key>
				<string>FilterHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATICAPI</key>
			<dict>
				<key>Handler</key>
				<string>LoopStringHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATICFOR</key>
			<dict>
				<key>Handler</key>
				<string>CFormatHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATICONC</key>
			<dict>
				<key>Handler</key>
				<string>ConcatHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATICPST</key>
			<dict>
				<key>Handler</key>
				<string>SATICPST</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATICRAR</key>
			<dict>
				<key>Handler</key>
				<string>CreateArrayHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATICRMT</key>
			<dict>
				<key>Handler</key>
				<string>CreateMatrixHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATICRRA</key>
			<dict>
				<key>Handler</key>
				<string>CreateRandomArrayHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATICmpi</key>
			<dict>
				<key>Handler</key>
				<string>CompileGrepHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATICoPo</key>
			<dict>
				<key>Handler</key>
				<string>ComposePolyHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIDLKY</key>
			<dict>
				<key>Handler</key>
				<string>SuppressHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIEIFL</key>
			<dict>
				<key>Handler</key>
				<string>ExcludeItemsHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIEXLF</key>
			<dict>
				<key>Handler</key>
				<string>ExtractItemHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIEXTR</key>
			<dict>
				<key>Handler</key>
				<string>ExtractStringHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIEnco</key>
			<dict>
				<key>Handler</key>
				<string>EncodingHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIEsEn</key>
			<dict>
				<key>Handler</key>
				<string>LoopStringHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIEvPo</key>
			<dict>
				<key>Handler</key>
				<string>EvalPolyHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIExLF</key>
			<dict>
				<key>Handler</key>
				<string>ExtractArrayHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIFILL</key>
			<dict>
				<key>Handler</key>
				<string>RelaceMissingHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIFINd</key>
			<dict>
				<key>Handler</key>
				<string>FindGrep</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIFORM</key>
			<dict>
				<key>Handler</key>
				<string>FormatHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIFiPo</key>
			<dict>
				<key>Handler</key>
				<string>FitPolyHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIGlob</key>
			<dict>
				<key>Handler</key>
				<string>GlobHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIHASH</key>
			<dict>
				<key>Handler</key>
				<string>HashHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIHisT</key>
			<dict>
				<key>Handler</key>
				<string>HistoHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIIURL</key>
			<dict>
				<key>Handler</key>
				<string>URLInfoHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIInLF</key>
			<dict>
				<key>Handler</key>
				<string>InsertArrayHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIJoin</key>
			<dict>
				<key>Handler</key>
				<string>JoinHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIKIFL</key>
			<dict>
				<key>Handler</key>
				<string>KeepItemsHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATILOWE</key>
			<dict>
				<key>Handler</key>
				<string>LoopStringHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATILSOP</key>
			<dict>
				<key>Handler</key>
				<string>EvalFormulaHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATILSOv</key>
			<dict>
				<key>Handler</key>
				<string>ListVarsHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATILST*</key>
			<dict>
				<key>Handler</key>
				<string>OpColumnHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATILST+</key>
			<dict>
				<key>Handler</key>
				<string>OpColumnHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATILST-</key>
			<dict>
				<key>Handler</key>
				<string>OpColumnHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATILST/</key>
			<dict>
				<key>Handler</key>
				<string>OpColumnHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATILiRe</key>
			<dict>
				<key>Handler</key>
				<string>OpColumnHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIM2Wn</key>
			<dict>
				<key>Handler</key>
				<string>MacToWinHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIMASK</key>
			<dict>
				<key>Handler</key>
				<string>MaskArrayHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIMASk</key>
			<dict>
				<key>Handler</key>
				<string>MaskListHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIPEAK</key>
			<dict>
				<key>Handler</key>
				<string>FindPeakHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIPade</key>
			<dict>
				<key>Handler</key>
				<string>PadeHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIRPLC</key>
			<dict>
				<key>Handler</key>
				<string>ReplaceGrep</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIRPLL</key>
			<dict>
				<key>Handler</key>
				<string>ReplaceGrep</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIRPLl</key>
			<dict>
				<key>Handler</key>
				<string>ReplaceGrep</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIRSum</key>
			<dict>
				<key>Handler</key>
				<string>RunningSumHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIRatF</key>
			<dict>
				<key>Handler</key>
				<string>RationalFitHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIRdBF</key>
			<dict>
				<key>Handler</key>
				<string>ReadBinaryHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIReEn</key>
			<dict>
				<key>Handler</key>
				<string>LoopStringHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIReMa</key>
			<dict>
				<key>Handler</key>
				<string>ResamplingMatrixHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIRead</key>
			<dict>
				<key>Handler</key>
				<string>ReadTextHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIRem%</key>
			<dict>
				<key>Handler</key>
				<string>LoopStringHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIRoot</key>
			<dict>
				<key>Handler</key>
				<string>RootsHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATISYNC</key>
			<dict>
				<key>Handler</key>
				<string>BackupHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATISeLF</key>
			<dict>
				<key>Handler</key>
				<string>ChangeArrayHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATISmoA</key>
			<dict>
				<key>Handler</key>
				<string>SmoothArrayHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATISort</key>
			<dict>
				<key>Handler</key>
				<string>SortListHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATISplt</key>
			<dict>
				<key>Handler</key>
				<string>SplitGrepHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIStat</key>
			<dict>
				<key>Handler</key>
				<string>OpColumnHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIUPPE</key>
			<dict>
				<key>Handler</key>
				<string>LoopStringHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIUnNo</key>
			<dict>
				<key>Handler</key>
				<string>NormalizeUnicodeHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIUnTr</key>
			<dict>
				<key>Handler</key>
				<string>TransformUnicodeHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIWn2M</key>
			<dict>
				<key>Handler</key>
				<string>WinToMacHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIWrBF</key>
			<dict>
				<key>Handler</key>
				<string>WriteBinaryHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIWrit</key>
			<dict>
				<key>Handler</key>
				<string>WriteTextHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIaDAL</key>
			<dict>
				<key>Handler</key>
				<string>SATIaDAL</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIaURL</key>
			<dict>
				<key>Handler</key>
				<string>AbsoluteURLHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIlsfl</key>
			<dict>
				<key>Handler</key>
				<string>ListFilesHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATInask</key>
			<dict>
				<key>Handler</key>
				<string>NavHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATInwfl</key>
			<dict>
				<key>Handler</key>
				<string>NavHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIprtf</key>
			<dict>
				<key>Handler</key>
				<string>PrintfHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIrURL</key>
			<dict>
				<key>Handler</key>
				<string>RelativeURLHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>SATIstdf</key>
			<dict>
				<key>Handler</key>
				<string>NavHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>SATIstfl</key>
			<dict>
				<key>Handler</key>
				<string>NavHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>SATIstnf</key>
			<dict>
				<key>Handler</key>
				<string>NavHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>SATIstob</key>
			<dict>
				<key>Handler</key>
				<string>NavHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>SATIstrf</key>
			<dict>
				<key>Handler</key>
				<string>StrftimeHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIstrp</key>
			<dict>
				<key>Handler</key>
				<string>StrptimeHandler</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>SATIstvo</key>
			<dict>
				<key>Handler</key>
				<string>NavHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
