<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>10K549</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>FITS</string>
	<key>CFBundleGetInfoString</key>
	<string>FITS 1.2.5 (build 133)Copyright 2015 Satimage-softwarewww.satimage.fr/software</string>
	<key>CFBundleIdentifier</key>
	<string>com.satimage.FITS</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>osax</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.5</string>
	<key>CFBundleSignature</key>
	<string>ascr</string>
	<key>CFBundleVersion</key>
	<string>133</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>10M2518</string>
	<key>DTPlatformVersion</key>
	<string>PG</string>
	<key>DTSDKBuild</key>
	<string>10K549</string>
	<key>DTSDKName</key>
	<string></string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>10M2518</string>
	<key>OSAScriptingDefinition</key>
	<string>FITS.sdef</string>
	<key>OSAXHandlers</key>
	<dict>
		<key>Events</key>
		<dict>
			<key>FITSExtr</key>
			<dict>
				<key>Handler</key>
				<string>ExtractImageHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>FITSclos</key>
			<dict>
				<key>Handler</key>
				<string>CloseHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>FITScunt</key>
			<dict>
				<key>Handler</key>
				<string>CountHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>FITSginf</key>
			<dict>
				<key>Handler</key>
				<string>InfoInHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>FITSmove</key>
			<dict>
				<key>Handler</key>
				<string>MoveInHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>FITSodoc</key>
			<dict>
				<key>Handler</key>
				<string>OpenHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>FITSplst</key>
			<dict>
				<key>Handler</key>
				<string>HeaderPlistHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>FITSrimg</key>
			<dict>
				<key>Handler</key>
				<string>ReadImageHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>FITSrtab</key>
			<dict>
				<key>Handler</key>
				<string>ReadTableColHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>FITStinf</key>
			<dict>
				<key>Handler</key>
				<string>TableColInfoHandler</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
