<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>List &amp; Record Tools</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0.6, Copyright 2004-2010 Late Night Software Ltd.  All Rights Reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.latenightsw.recordtools</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>osax</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.6</string>
	<key>CFBundleSignature</key>
	<string>ascr</string>
	<key>CFBundleVersion</key>
	<string>1.0.6</string>
	<key>CSResourcesFileMapped</key>
	<false/>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>osax.sdef</string>
	<key>OSAXHandlers</key>
	<dict>
		<key>Events</key>
		<dict>
			<key>ScTlLDif</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>ListDifference</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>ScTlLFil</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>ListFilter</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>ScTlLInt</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>ListIntersection</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>ScTlLUon</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>ListUnion</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>ScTlaePR</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>AEPrintSomething</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>ScTlrcDT</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>DeleteRecordProperty</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>ScTlrcDt</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>DeleteRecordUserProperty</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>ScTlrcGN</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>GetRecordPropertyNames</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>ScTlrcGT</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>GetRecordProperty</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>ScTlrcGn</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>GetRecordUserPropertyNames</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>ScTlrcGt</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>GetRecordUserProperty</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
			<key>ScTlrcST</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>SetRecordProperty</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>ScTlrcSt</key>
			<dict>
				<key>Context</key>
				<string>User</string>
				<key>Handler</key>
				<string>SetRecordUserProperty</string>
				<key>ThreadSafe</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
